body {
	font-family: 'Roboto', sans-serif;
	min-width: 200px;
	position: relative;
	font-size: 16px;
	background: #FFFAFA;
}

.option {
	font-size: 17px;
	line-height: 2em;
	color: #ff6666;
	white-space: nowrap;
	cursor: pointer;
	padding: 0 10px;
	border-bottom: 2px solid #ff6666;
}

.option:hover{
    background-color: #f5f5f5;
    font-weight: bold;
}
